[project]
	description = MediaWiki extension GoogleLogin\n\
Project page:\n\
https://www.mediawiki.org/wiki/Extension:GoogleLogin
[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group extension-GoogleLogin
[allowSuperproject "mediawiki/extensions"]
	matching = refs/heads/master:refs/heads/master
