#googleloginForm {
	position: absolute;
	/* Fixed width of login form vform + 15px margin */
	left: 305px;
	/* margin between separator and form, same as left - width (of loginform) */
	padding-left: 15px;
	/* line-height of first label */
	padding-top: 1.6em;
	height: 90%;
	border-left: 1px solid lightgrey;
}

.mw-htmlform-ooui-wrapper {
	position: inherit !important;
}
